/* PC */
@media screen and (min-width: 768px) {
  .productWrap {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .productWrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  footer > div {
    flex-direction: column;
    padding: 0 0 4vw !important;
  }
  footer > div > div {
    width: 100% !important;
  }
}

@media screen and (max-width: 400px) {
  .productWrap {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }
}
